<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">

<head>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Index</title>
</head>

<body>
<!-- Page Content -->
<div layout:fragment="content" th:remove="tag">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please, upload file</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" method="POST" th:action="@{/upload}">
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                            <div class="form-group">
                                <input type="file" class="form-control-file" id="file" name="file" />
                            </div>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>